.uujokes-core-spaunauthorized {
  width: 390px;
  max-width: 100%;
  margin: 56px auto 0;
  text-align: center;

  &-error-icon {
    font-size: 40px;
    color: #9E9E9E;
  }
  &-text-error {
    margin: 16px 0 32px;
    font-size: 22px;
    color: #757575;
  }
}
